<h1>Services page</h1>
<%= ApplicationHelper.my_time %>
<pre>
<h1>Online Training:</h1>
Naresh Trainings is the leading online training 
provider in India. Catering students across the 
Globe to Countries like USA, UK, Australia, 
Singapore, Japan, Europe, Canada.  We work on 
flexible timings that match Naresh audience. 
We are pioneer in the industry to provide 
Robust online training over world wide web.

  
Corporate Training:
Naresh Trainings helps organizations train 
their employees on emerging information 
technologies. Our on-line training  corporate 
training programs combine the latest concepts 
and technological developments with practicals.


Job Support:
Naresh Trainings will offer complete job support 
training. If students get new job on ruby on rails 
we will provide job support on current project.

Ruby on Rails Academic Projects:
Naresh Trainings will provide and develop mini 
academic and final year projects for B.Tech and Ms students.
</pre>
