		<ul>
            <li><a href="/" class="current"><span></span>Home</a></li>
            <li><a href="/payments/our_payment"><span></span>Payments</a></li>
            <li><a href="/registrations/faculty"><span></span>Registration</a></li>
            <li><a href="#"><span></span>Shop</a></li>            
            <li><a href="#"><span></span>About Us</a></li>
            <li><%= link_to 'ContactUs', new_my_contact_path %>
            <% if user_signed_in? %>
  				<li>
  				<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  				</li>
			<% else %>
  				<li>
  				<%= link_to('Login', new_user_session_path)  %>  
  				</li>
			<% end %>
        </ul>