        	<div class="header_01">
            	Categories
            </div>
            
	        <ul class="category_list">
           		<li><a href="/suppliers/new">Suppliers Details</a></li>
                <li><a href="/accounts/new">Accounts</a></li>
                <li><a href="/customers/new">Customer Details</a></li>
                <li><a href="orders/new">Order Details</a></li>
                <li><a href="#">Proin ultrices eros</a></li>
                <li><a href="#">Aliquam ac nisl eget</a></li>
                <li><a href="#">Praesent vehicula tellus</a></li>
                <li><a href="#">Mauris egestas nunc</a></li>
                <li><a href="#">Ut semper porta magna</a></li>
                <li><a href="#">Donec ante risus</a></li>
                <li><a href="#">Nunc bibendum neque</a></li>
    		</ul>
            
        
        	<div class="cleaner"></div>